@import url('http://fonts.googleapis.com/css?family=Quattrocento');   /* Load Font */
@font-face { font-family: QuattroBold; src: url('font/imcm_original.ttf'); }
@font-face { font-family: CabinMed; src: url('font/Cabin-Medium-TTF.ttf'); }
*{
    box-sizing: border-box;/*reset page*/
}
body {
  margin: 0;/*reset page*/
  background-color: #9bd;
  width:inherit;
  height:inherit;
}
body {   /* make unscrollable, background image shuffle? */
    font-family: QuattroBold, Quattrocento, sans-serif;
    background: #16171A;
    color:white;
	
}
a:focus, a.active:focus { outline: none;  outline: 0; } /* prevent outline of buttons when clicked */
button:focus, .btn:focus, .btn:active:focus, .btn.active:focus {
    outline: none;
    outline: 0;
} /* prevent outline of buttons when clicked */
.btn-default:active, .btn-default:focus {
    /*add default button styling here to reset it to normal when you untoggle*/
   color:black;
   background-color: white;
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -o-user-select: none;
} /* prevent outline of buttons when clicked */

input[type='file'] {
    background-color: #16171A;
    border-radius: 10px;
    /*color: transparent;*/

    width:450px;
    margin: 0px auto;
}
input[type='button'] {
    background-color: #16171A;
    border-radius: 10px;
    /*color: transparent;*/

    width:450px;
    margin: 0px auto;
}
/*---- text sizes by width ----*/

.quest{
    width:1000%;  /* controls text size in flowtype.js */
}
.title{
    width:900%;  /* controls text size in flowtype.js */
}
.small{
    width:800%;  /* controls text size in flowtype.js */
    line-height: 0.9vw;
}
.dialog {
    position:absolute;
    /*hack: don't use margin as it leaves more room for error, just use direct placement, only top gets buggy with sidebar now*/
    top:19%;
    left:5.8%;
    width:400%; /* controls text size in flowtype.js */
    /*font stuff*/
    /*no line spacing, it hurts the scaling*/
    color:#49392c/*#59493c*/;
    text-shadow:0.03em 0.03em 0.02em #59493c;
}

/*------ positions -------*/
html, #wrapper {
    overflow-x: hidden;
  position: relative;
  height: 100%;
  width:100%;
}
table{
    margin-top:6%;
    margin-left:1%;
    margin-right:1%;
    margin-bottom: 20%;
    line-height: 2em;
}
table tr{
    border:1px solid #555;
}
/* Cells in even rows (2,4,6...) are one color */
table tr:nth-child(even) { background: #133; }

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */
table tr:nth-child(odd) { background: #16171A; }

table tr:hover { background: rgba(255,255,0,0.3); cursor:pointer; } /* Hover cell effect! */
#editor{
    position:relative;
    top:0;
    left:0;
    width: 50%;
    height:100%;
    font-family: CabinMed;
    /*background-image: url(../bg/screenshot_20150805_00017.jpg);*/
    /*background-size: contain;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center center;             optionally, center the image */
}
#drop-zone {
    position:absolute;
    text-align: center;
    top:10em;
    left:18%;
    width:64%;
    color:cyan;
    border: 1.8em dashed cyan;
    border-radius: 3.6em;
}
#drop-zone.onTop {border: 1.8em dashed lime;}

#footer {
    display:block;
    position:fixed;
    bottom:0;
    left:0;
    width:350px;
    height:4%;
    background: rgba(255,255,255,0.3);
    border-top-right-radius: 10px;
}
/*------ aides -------*/
/*.left-bar {
    display:inline-block;
    position:absolute;
    top:0;
    left:0;
    width:23.7%;
    color:pink;
    border: 3px solid pink;
}*/
.right-bar {
    overflow-x: hidden;
    position:fixed;
    /*top:35%;       replaced with animated jquery*/
    left:79%;
    /*height:50%;       replaced with animated jquery*/
    width:21%;
    color:white;
    border-radius:1.5em;
    opacity:0;
    z-index:-999;
    background-color: rgba(0,0,0,0.8);
}
.rbar-cutoff {
    width:95.3%;
    height:100%;
    background: rgba(255,255,255,0.0);
    overflow: hidden;
    position:relative;
}
#party-quest{
    position:absolute;
    left:14.0%;
    top:0.5%;
}
#charm-quest{
    position:absolute;
    left:3.8%;
    top:5.5%;
}
#warp{
    position:absolute;
    left:22.0%;
    top:13.4%;
}
#sanzobar-quest{
    position:absolute;
    left:3.8%;
    top:20.8%;
}
#no-time{
    position:absolute;
    left:16.8%;
    top:30.2%;
}
#quest-area{
    position:absolute;
    left:19.0%;
    top:35%;
}
#quest-what{
    position:absolute;
    left:19.0%;
    top:39.8%;
}
#quest-desc{
    position:absolute;
    left:19.0%;
    top:50.0%;
}
.text-block {
    position:fixed;
    overflow-x: hidden;
    /*top:69%;       replaced with animated jquery*/
    left:34.5%;
    /*height:19.7%;       replaced with animated jquery*/
    width:51.8%;
    opacity:0;
    z-index:-999;
    background-image: url(../bg/textblock.png);
    background-size: contain;
    background-repeat: no-repeat;
}
/*------ angular ng-class dynamic MUST BE LAST-------*/
.opac {
    opacity:1.0;
    z-index:999;
}

.selected-line {
    background: #008822 !important;/* overrides table background */
}