@import url('http://fonts.googleapis.com/css?family=Quattrocento');   /* Load Font */
@font-face { font-family: QuattroBold; src: url('imcm_original.ttf'); }

body {   /* make unscrollable, background image shuffle? */
    font-family: QuattroBold, Quattrocento, sans-serif;
    background: #16171A;
}
button, input, select, textarea { font-family: inherit; } 
a:focus, a.active:focus { outline: none;  outline: 0; } /* prevent outline of buttons when clicked */
button:focus, .btn:focus, .btn:active:focus, .btn.active:focus {
    outline: none;
    outline: 0;
} /* prevent outline of buttons when clicked */
.btn-default:active, .btn-default:focus {
   color:white;
   background-color: transparent;
   margin-bottom: 10px;
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -o-user-select: none;
   user-select: none;
} /* prevent outline of buttons when clicked */
#editor{
    position:relative;
    top:0;
    left:0;
    width: 100%;
    height: 0;
    padding-top: 56.25%; /* (img-height / img-width * container-width) */
    background-image: url(../bg/screenshot_20150805_00017.jpg);
    background-size: contain;                      /* <------ */
    background-repeat: no-repeat;
    /*background-position: center center;             optionally, center the image */
}
.drop-zone {
    display:inline-block;
    position:absolute;
    top:18%;
    left:18%;
    width:64%;
    color:cyan;
    border: 1.8em dashed cyan;
    border-radius: 3.6em;
}
/*.left-bar {
    display:inline-block;
    position:absolute;
    top:0;
    left:0;
    width:23.7%;
    color:pink;
    border: 3px solid pink;
}*/
.right-bar {
    display:inline-block;
    position:absolute;
    /*top:35%;       replaced with animated jquery*/
    left:79%;
    /*height:50%;       replaced with animated jquery*/
    width:21%;
    color:limegreen;
    border: 3px solid limegreen;
}
.text-block {
    display:inline-block;
    position:absolute;
    /*top:69%;       replaced with animated jquery*/
    left:34.5%;
    /*height:19.7%;       replaced with animated jquery*/
    width:51.5%;
    border: 3px solid yellow;
}
.dialog {
    display:inline-block;
    position:relative;
    /*hack: don't use margin as it leaves more room for error, just use direct placement, only top gets buggy with sidebar now*/
    left:5.5%;
    width:200%;
    border: 1px solid blue;
    /*font stuff*/
    letter-spacing: 0.042em;
    color:red/*#59493c*/;
    text-shadow:0px 0px 1px red;
}
@-moz-document url-prefix() {
    .dialog {
    letter-spacing: 0.057em;
    }
}
